.home {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    h1 {
      font-size: 2.5em;
      font-weight: bold;
      text-align: center;
    }
    .home-content {
      justify-self: center;
      width: 50%;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.3em;
    }
  }